CedacriData/Web References/Bank.services/HRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllClients">
        <s:complexType />
      </s:element>
      <s:element name="GetAllClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllClientsResult" type="tns:ArrayOfBankClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBankClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BankClient" nillable="true" type="tns:BankClient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BankClient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="GetAllClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="HRServiceSoap">
    <wsdl:operation name="GetAllClients">
      <wsdl:input message="tns:GetAllClientsSoapIn" />
      <wsdl:output message="tns:GetAllClientsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HRServiceSoap" type="tns:HRServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HRServiceSoap12" type="tns:HRServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap12:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HRService">
    <wsdl:port name="HRServiceSoap" binding="tns:HRServiceSoap">
      <soap:address location="http://localhost:2093/HRService.asmx" />
    </wsdl:port>
    <wsdl:port name="HRServiceSoap12" binding="tns:HRServiceSoap12">
      <soap12:address location="http://localhost:2093/HRService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>